@import url("../../node_modules/@xterm/xterm/css/xterm.css");
@import url("syntax.css");

:root {
	--editor_background: #2f2f2f;
	--editor_foreground: #f6f6f6;
	--editor_background_line_numbers: #222222;
	--editor_foreground_line_numbers: #222222;
	--editor_background_line: #141414;
	--sidebar_background: #121212;
	--sidebar_foreground: #f6f6f6;
	--sidebar_file_background: #555555;
	--topbar_background: #181818;
	--topbar_foreground: #f6f6f6;
	--terminal_background: #2f2f2f;
	--topbar_tabs: #333333;
	--topbar_tabs_active: #636363;
	--topbar_tabs_hover: #555555;
	--footer_background: #181818;
	--footer_foreground: #f6f6f6;
	--accent_color: lightblue;
	--command_menu_background: #161616;
	--command_menu_foreground: #161616;
	--command_menu_active_background: #323232;
	--cursor_normal: #ffffff88;
	--cursor_insert: #ffffff;
	--cursor_replace: #ffffff;
	--sidebar_dirs: lightblue;
	--sidebar_files: lightcyan;
	--editor_hover_background: "#161616";
	--editor_hover_foreground: "#ffffff";

	--editor-font-family: monospace;
	--editor-font-size: 14px;
	--editor-font-weight: 400;
}


body {
	margin: 0;
}

/* width */
::-webkit-scrollbar {
	height: 5px;
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--accent_color);
}

.terminal {
	border-bottom: var(--terminal_background) 1px solid;

	&:focus-within {
		border-bottom: var(--accent_color) 1px solid;
	}
}

.xterm {
	position: absolute;
	bottom: 0;
}
